body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#fcfcfc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Style for one product*/
.oneItem {
        margin-top: 10px;
        border:solid 2px #2f81ea;
        border-radius: 12px;       
        background-color: #fffffa;
        padding:5px;

    }
    .categories{
        margin-top:5px;
        margin-bottom:5px;
    }
    .itemContent{
        height:220px;
    }
    .itemFooter{
        margin-bottom:5px;
    }
    .bold{
        font-weight:bold;
    }
    
hr{
    margin-bottom:0;
}
.moremargin{
    border:0;
    margin-bottom:5px;
}
