@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>The great creators</h3>

<name>
    Orri Arnarsson,</br>
    Andri Andr&#233;sson
</name>

<address>
    <strong>Support:</strong>   <a href="mailto:orri15@ru.is">orri15@ru.is</a><br />
    <strong>Marketing:</strong> <a href="mailto:andria15@ru.is">andria15@ru.is</a>
</address>