@model IEnumerable<Project03.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Browse products</title>
</head>

<body>
    <div>
        <button type="button" class="btn btn-primary btn-lg active">All</button>
        <button type="button" class="btn btn-default btn-lg inactive">Books & Audible</button>
        <button type="button" class="btn btn-default btn-lg inactive">Movies, Music & Games</button>
        <button type="button" class="btn btn-default btn-lg inactive">Electronics & Computers</button>
        <button type="button" class="btn btn-default btn-lg inactive">Home, Garden & Tools</button>
        <button type="button" class="btn btn-default btn-lg inactive">Beauty, Health & Grocery</button>
        <button type="button" class="btn btn-default btn-lg inactive">Toys, Kids & Baby</button>
        <button type="button" class="btn btn-default btn-lg inactive">Clothing, Shoes & Jewelry</button>
        <button type="button" class="btn btn-default btn-lg inactive">Sport & Outdoors</button>
        <button type="button" class="btn btn-default btn-lg inactive"> Automotive & Industrial</button>                                
    </div>

    <!--Creates a div for each product in the list on run time.-->
    <div class="row">
        @foreach (var prod in Model)
        {
            <div class="col-md-3">
                <h3>@prod.name<br></h3>
                <p> 
                    @prod.description<br> <br> 
                    Price: @prod.price$ <br> <br> 
                    Stock: @prod.stock <br>
                </p>
            </div>
        }
     </div>
</body>


</html>